* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-abt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  left: 0;
  z-index: 1000;
}

.logo-abt{
  display: flex;
  width: 100%;
  height: 100%;
}

.logo-abt img{
  width: 11.5%;
  height: auto;
  position: relative;
  left: 9px;
}

.other{
  color: #ffffff;
  text-align: center;
  margin-left: -1322%;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-abt video {
  max-width: 98.9vw;
  max-height: 1000vh;
}

.txt-abt h1 {
  font-size: 3rem;
  position: absolute;
  top: 37.5%;
  left: 11%;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.txt-abt p {
  font-size: 1.75rem;
  right: 15%;
  top: 48%;
  position: absolute;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.txt-abt h2{
  background: #0000001c;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  width: 12.5%;
  left: 9.25%;
  top: 52.5%;
  position: absolute;
  text-align: center;
}

.txt-abt h2:hover{
  color: #000000;
  background: rgb(255, 255, 255);
  transform: scale(1.1); 
  cursor: pointer; 
}


.cards-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 10%;
  padding: 15px;
  gap: 5px;
}

.card {
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-content h3 {
  font-size: 1.75rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
  color: #333;
}

.card-content p {
  font-size: 1.25rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #666;
  line-height: 1.6;
}




